{% load analysis help humanize i18n website_tags %}
<div class="efficiency-item">
  <div class="efficiency-item__groups">
    {% include 'insights/_efficiency-item-dynamic.html' with include_bar=True output_metric_ids=True cost_type='total' class='col-md-6 col-md-reverse' title=metric.output_metric.metric_name cost_value=metric.output_cost_all|format_currency:analysis.currency_code label=metric.initial_card_label show_help='insights__cost_per_metric_shared' icon=icon %}
  {% with intervention_name=intervention_instance.display_name %}
    {% if show_client and analysis.client_time %}
      {% include 'insights/_efficiency-item-dynamic.html' with output_metric_ids=False cost_type='client' class='col-md-6' title='Total Cost of Client Time' cost_value=cost_total_client_time|dict_get:intervention_name|format_currency:analysis.currency_code label=label_total_client_time icon_class='waiting-item__icon' icon='waiting' %}
    {% endif %}
  {% endwith %}
  </div>
</div>
