.analysis__subcomponent__labels {
  display: inline-grid;
  grid-auto-rows: 1fr;
  padding: 0;
  margin: 2.2rem 0 1rem;
  gap: 0.1rem;
  min-width: 19.4rem;

  .analysis__subcomponent__label {
    display: inline-block;
    margin: 0;
    padding: 1.2rem 2.4rem 1.2rem 1rem;
    align-items: center;
    align-self: stretch;
    background: $color-moonstone-2;
    color: $color-mineshaft;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;

    &.analysis__subcomponent__label--confirmed {
      background-color: rgba(53, 112, 171, 1);;
      color: $color-white;
    }
  }
}
  
.analysis__subcomponent__title {
  @extend .analysis__title;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
}

.analysis__subcomponent__help_text {
  @include font-size(16, 1.75);
  margin-bottom: 3.2rem;

}
.analysis__subcomponent__subtitle {
  @include font-size(24, 1.2);
  margin-top: 3.2rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.analysis__button {
  background-color: $color-moonstone-2;
  border: none;
  border-radius: 2px;
  color: $color-mineshaft;
  font-weight: $font-weight-bold;
  padding: 1.6rem;
  min-width: 13rem;
  transition: all $transition-duration-default;
  @include font-size(16, 1.125);

  &:hover {
    background-color: darken($color-moonstone-2, 10%);
  }
}

// Subcomponent allocate
.analysis-table__table > thead > tr > th.analysis-table__subcomponent-header {
  background-color:  rgb(53, 112, 171);  
}
.analysis-table__table > thead > tr > th.analysis-table__subcomponent-header--total {
  background-color:  rgb(53, 112, 171);
  text-align: right;
}
.analysis-table__table > tbody > tr > .analysis-table__subcomponent-input-cell {
  padding-top: 0.5rem;
  background-color: $color-moonstone-2;  
}

.analysis-table__subcomponent-total {
  min-width: 5.6rem;
  font-weight: 700;
}
.analysis-table__subcomponent-skip {
  min-width: 7.2rem;
  font-weight: 700;
  padding-left: 0;

  input {
    opacity: 0;
    position: absolute;
    left: -9999em;
  }
  label {
    line-height: 1;
    color: $color-topaz;
    text-decoration: underline;
    cursor: pointer;
  }
}
.analysis-table__subcomponent-skip__label {
  .analysis-table__subcomponent-skip input:disabled + & {
    color: rgba(172, 180, 191, 1);
    font-weight: 400;
    text-decoration: none;
    cursor: not-allowed;
  }
  .analysis-table__subcomponent-skip input:checked + & {
    display: none;
  }
}
.analysis-table__subcomponent-skip__label--skipped {
  display: none;
  .analysis-table__subcomponent-skip input:checked + label + & {
    display: block;
  }
}
.analysis-table__subcomponent-allocate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;

  .analysis-table__subcomponent-allocate-input {
    margin: 0;
    margin-right: 0.5rem;
    padding: 0.4rem 0.6rem;
    min-height: auto;
    width: 4.8rem;

    &:disabled {
      color: $color-gray;
      background: $color-gray;

      &.visible-when-disabled {
        color: $color-black;
      }
    }
  }

  &:after {
    color: rgba(172, 180, 191, 1);
    display: inline;
    content: "%";
  }
}
.analysis-table__cost-items.analysis-table__cost-items--confirmed {
  min-width: auto;
}
.analysis-table__category--active .analysis-table__cost-items {
  display: block;
  background: none;
  color: $color-white;
}

.analysis-table__table > tbody > tr.skipped {
  .analysis-table__subcomponent-total {
    color: rgba(172, 180, 191, 1);
    font-weight: 400;
  }
}

.analysis-table__table > tbody > tr.error {
  .analysis-table__subcomponent-total {
    background-color: rgba(253, 232, 232, 1);
    color: $color-lichen;
  }
  .analysis-table__subcomponent-skip {
    background-color: rgba(253, 232, 232, 1);
  }
}

.analysis-table__allocation_suggestions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 7.7rem;
  border-radius: 6px;
  margin-bottom: 3rem;
  color: $color-mineshaft;
  font-weight: $font-weight-bold;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2rem; /* 125% */
  gap: 1px;
  
  .suggestion-title {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
  }
  .suggestion-description {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 0.6rem;
  }
}
.analysis-table__allocation_suggestion,
.analysis-table__allocation_suggestions-heading {
  padding: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  span {
    display: block;
  }
}
.analysis-table__allocation_suggestion {
  background: $color-table-blue;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .suggestion-percentage {
    margin-top: auto;
  }
}
.analysis-table__allocation_suggestions-heading {
  position: relative;
  background: $color-table-accent-blue;
  max-width: 62rem;

  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    width: 18px;
    margin-right: 16px;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='95' fill='none'%3E%3Cpath fill='%23C4DEF7' d='M18 47.5 0 0v95l18-47.5Z'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    background-color: $color-table-blue;
  }
}
.form__errors--subcomponent {
  font-size: 1.2rem;
  padding-top: 0.25em;
  padding-left: 0;
  margin-left: -5.6rem; /* "span" into total column */
  margin-bottom: 0;
}

.analysis-table__actions__label-form,
.analysis-table__confirmed-labels {
  .help_text {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    color: $color-boulder;
  }
}

.analysis-table__actions__label-form {
  text-align: left;

  button {
    margin-right: 1rem;
  }
}

.confirmed-labels__badge {
  display: inline-block;
  border-radius: 6px;
  flex: 0 0 auto;
  margin-left: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 1.6rem;
  background-color: rgb(218, 239, 222);
  color: rgb(40, 88, 49);
  min-width: 23rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.analysis-table__confirmed-labels {
  text-align: left;
  .confirmed-labels__edit-button {
    display: inline;
    background: none;
    border: none;
    color: $color-lichen;
    font-weight: 700;
    text-decoration: underline;
    font-style: normal;

    &:hover,
    &:active {
      color: darken($color-lichen, 10%);
      text-decoration: none;
    }
  }
}