.analysis {
  padding-left: $analysis-sidebar-width;
}

.analysis__main {
  position: relative;
  margin-left: -$analysis-sidebar-caret-width;
  width: calc(100% + #{$analysis-sidebar-caret-width});
  z-index: 2;

  .filter-list {
    margin-bottom: 1.5rem;
  }
}

.analysis__title-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;  

  .analysis--guidance-collapsed & {
    flex-wrap: nowrap;
  }
}

.analysis__title {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(28, 1.07);
}

.analysis__description {
  margin-top: -1.8rem;
  color: $color-mineshaft;
  @include font-size(16, 1.75);
  font-style: italic;
  font-weight: 400;
}
.analysis__other_costs__help_text {
  @include font-size(16, 2.0);
}

.analysis__other_costs__title {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
  @include font-size(28, 1.07);
}

.analysis__other_costs__subtitle {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
  @include font-size(24, 1.2);
}

.analysis__subtitle {
  margin-top: 0;
  @include font-size(24, 1.2); 
}

.analysis__sidebar {
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding-right: $analysis-sidebar-caret-width;
  width: $analysis-sidebar-width;
  position: fixed;
  top: 0;
  z-index: 3;
}

.analysis__actions {
  border-top: 1px solid $color-smoke;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1.1rem;
  text-align: right;
}

.analysis__submit {
  background-color: $color-green;
  border: none;
  border-radius: 2px;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: 1.6rem;
  min-width: 13rem;
  transition: all $transition-duration-default;
  @include font-size(16, 1.125);

  &:hover {
    background-color: darken($color-green, 10%);
  }
}

.analysis__reset {
  background-color: transparent;
  color: $color-lichen;
  border: none;
  box-shadow: none;
  display: inline;
  font-weight: $font-weight-bold;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: darken($color-lichen, 10%);
  }
}

.analysis__label {
  margin-bottom: 1.1rem;
}

.analysis__data-list {
  @include clearfix();
  @include font-size(16, 1.5);
}

.analysis__data-list-label {
  clear: left;
  float: left;
  margin-bottom: 0.9rem;
  font-weight: $font-weight-bold;
}

.analysis__data-list-value {
  float: left;
  margin-left: 1.2rem;
  margin-bottom: 0.9rem;
}

.analysis__reset-form {
  margin-top: 3.2rem;
}

.analysis__reset-help {
  color: $color-boulder;
  max-width: 100%;
  width: 55rem;
  @include font-size(14, 1.4);
}

.analysis__additional_costs {
  margin-top: 3.2rem;
}

// Messages
.analysis__message {
  border-radius: 6px;
  max-width: 100%;
  padding: 1.2rem 1.6rem;
  width: 55rem;
  @include font-size(14, 1.1429);
}
  
.analysis__message--success {
  background-color: $color-alert-success-background;
  color: $color-alert-success-color;
}

.analysis__message_no_items {
  border-radius: 6px;
  max-width: 100%;
  padding: 1.2rem 1.6rem;
  @include font-size(14, 1.1429);
}

.analysis__message--info {
  background-color: $color-moonstone;
  color: $color-lapis;
}

.analysis__message--table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.analysis__define-loaded-message {
  color: $color-boulder;
  margin-top: 1rem;
  @include font-size(14, 1.4);
}

.analysis__define-reset {
  color: $color-lichen;

  &:hover {
    color: darken($color-lichen, 10%);
  }
}

// Load data
.analysis__load-data-group {
  @include font-size(16, 1.4);

  @media (min-width: $breakpoint-notebook) {
    flex: 0 0 auto;
  }

  label {
    @include font-size(14, 1.2);
  }

  select {
    display: block;
    width: auto;
    @include font-size(16, 1.4);
  }
}

.analysis__load-data-import-transactions-count {
  line-height: 1.6;
  margin-top: $default-margin;
  margin-bottom: $default-margin;
}

.analysis__load-data-import-transactions-count-inline {
  display: inline-block;
  white-space: nowrap;
}
  
.analysis__load-data-group--upload {
  border-bottom: 1px solid $color-gray;
  padding-block: 3rem;
  
  @media (max-width: ($breakpoint-notebook - 1)) {
    width: 100%;
  }
  @media (min-width: $breakpoint-notebook) {
    padding-block: 0;
    padding-inline: 3rem;
    border-right: 1px solid $color-gray;
    border-bottom-width: 0;

    &:first-child {
      padding-left: 1.5rem;
    }
    &:last-child {
      padding-right: 1.5rem;
      border-right-width: 0;
    }
  }

  .form-group:not(.active),
  [data-section]:not(.active) {
    display: none;
  }
  .form__file-button--upload:disabled {
    display: none;
  }
}

.analysis__load-data-download-group {
}
.analysis__load-data-help-text {
  color: $color-mineshaft;
  @include font-size(14, 1.71);
  font-style: italic;
  font-weight: 400;
  margin-block: 0;
}
.analysis__load-data-download-link {
  display: inline-block;
  font-weight: $font-weight-bold;
  vertical-align: middle;
  @include font-size(14, 1.4);
}

// Errors
.analysis__error {
  color: $color-lichen;
  font-style: italic;
  margin-bottom: 1rem;
  @include font-size(16, 1.2);
}

// Loading
.analysis__loading {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  svg {
    animation: spin 4s infinite linear;
    left: 50%;
    margin-left: -2.4rem;
    margin-top: -2.4rem;
    position: absolute;
    top: 50%;
  }

  body.loading & {
    opacity: 1;
    visibility: visible;
  }
}

.analysis-interventions {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1rem;

  .analysis-intervention {
    color: #555;
    background-color: #F1F7FD;
    border-radius: 3px;
    padding: 1.5rem;
    font-size: 1.3rem;
    box-shadow: 0 1px 0 0 #C0C0C0;
    margin-bottom: 0.5rem;
    h4, p {
      color: #333;
      font-size: 1.3rem;
      margin: 0;
    }
    h4 {
      margin-bottom: 0.5rem;
    }
  }
}
.set-interventions {
  @include button-submit();
  padding: 0.8rem 3rem;
}

.analysis-toggle {
  width: 100%;
  border-top: 1px solid #909AA2;
  border-bottom: 1px solid #909AA2;
  margin-block: 4rem;
  padding-inline: 2rem;

  summary {
    @include font-size(18, 1.2);
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    cursor: pointer;
    
    &:after {
      display: inline-block;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' role='img' aria-labelledby='icon-plus-title'%3E%3Ctitle id='icon-plus-title'%3EPlus%3C/title%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 7V0H9V7H16V9H9V16H7V9H0V7H7Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-position-x: right;
      background-position-y: center;
      background-repeat: no-repeat;
    }
  }

  &[open] {
    summary {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg' role='img' aria-labelledby='icon-minus-title'%3E%3Ctitle id='icon-minus-title'%3EMinus%3C/title%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H16V2H0V0Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.analysis__dropdown {
  background-color: #F1F4F8;
  border-radius: 2px;
  position: relative;
  list-style: none;
  @include font-size(13, 1.125);

  &.download {
    background-color: #C4DEF7;
  }

  &[open],
  &:hover {
    background-color: #BDD5ED;
  }
  summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-inline: 1rem 0;
    font-weight: $font-weight-bold;
    cursor: pointer;

    svg {
      display: block;
      margin-block: -0.5rem;
    }
  }
  ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 0;
    top: 100%;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #F1F4F8;
    padding: 1.5rem 2rem;
    box-shadow: 0px 2px 4px 0px #00000040;
    li {
      padding: 0;
      margin: 0;

      a {
        color: $color-mineshaft;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .in-progress {
    font-weight: $font-weight-bold;
  }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}