.filter-list-form {
  margin-top: 1.5rem;
}

.form-inline {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.form-group-search {
  margin-right: 0.5rem;
  position: relative;
}

.icon-label {
  left: 1rem;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    vertical-align: top;
  }
}

input[type="text"].filters__search-input {
  min-width: 33.1rem;
  padding-left: 4.2rem;
  padding-right: 2.5rem;
}

.clear-search-phrase {
  top: 50%;
  right: 1rem;
  position: absolute; 
  transform: translateY(-50%);

  svg {
    vertical-align: middle;

    * {
      fill: $color-smoke;
    }
  }
}

.filter__search-btn {
  @include button-submit();
  background-color: $color-lapis;
  display: inline-block;
  margin-right: 1.5rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  text-align: center;
  @include font-size(13, 1.3846);

  &:hover,
  &:focus {
    background-color: darken($color-lapis, 10%);
    color: $color-white;
    text-decoration: none;
  }
}

.add-filter-dropdown {
  margin-right: 1.5rem;
}

.filter__add-filter-btn {
  @include button-submit();
  background-color: $color-moonstone-2;
  color: $color-mineshaft;
  min-width: 18.3rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;  
  text-align: center;
  @include font-size(13, 1.3846);

  &:hover,
  &:focus {
    background-color: $color-filter-background;
    color: $color-mineshaft;
    text-decoration: none;
  }
}

.filter__menu {
  background-color: $color-filter-background;
  border: none;
  border-radius: 2px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  margin: 2px 0 0;
  min-width: 33rem;
  padding: 2rem 3.1rem;
}

.dropdown-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__menu-item {
  margin-bottom: 1rem;
  padding: 0;
}

.filter__menu-link {
  font-weight: $font-weight-bold;
  text-decoration: none;
  @include font-size(13, 1.4);
}

.filter__facet {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.filter-results {
  margin-top: 0.8rem;
}

.filter-result {
  background-color: $color-moonstone-2;
  border-radius: 6px;
  display: inline-block;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 0.6rem 1.3rem 0.6rem 1.1rem;
  vertical-align: middle;

  .label {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-right: 0.8rem;
    vertical-align: middle;
    @include font-size(14, 1.7857);
  }

  .value {
    display: inline-block;
    margin-right: 3rem;
    vertical-align: middle;
    @include font-size(14, 1.7857);
  }
}

.clear-filter {
  color: $color-smoke;
  font-weight: $font-weight-bold;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  @include font-size(25, 1);

  &:hover {
    text-decoration: none;
  }
}

.clear-all {
  @include font-size(14, 1.1429);
}