{% load i18n %}
<div class="metadata-editor" data-metadata-editor data-field-url="{{ widget.field_url }}" data-option-url="{{ widget.option_url }}" data-max-fields="{{ widget.max_fields }}">
    <input type="hidden" name="{{ widget.name }}" value="{{ widget.draft_json }}" class="metadata-editor__draft notrackchange" data-original="{{ widget.draft_json }}">
    <p class="help_text">{% blocktranslate with max=widget.max_fields %}This section allows for managing optional metadata fields for this intervention. You may edit, re-order, or add up to a maximum of {{ max }} fields.{% endblocktranslate %}</p>
    <ul class="metadata-editor__list">
        {% for field in widget.fields %}
            <li class="metadata-editor__row" data-draft-id="{{ field.draft_id }}">
                <span class="metadata-editor__handle" aria-hidden="true">☰</span>
                <span class="metadata-editor__type">{{ field.type_label }}</span>
                <span class="metadata-editor__name">{{ field.name }}</span>
                <span class="metadata-editor__actions"><a href="#" class="metadata-editor__edit">{% translate 'Edit' %}</a><a href="#" class="metadata-editor__delete">{% translate 'Delete' %}</a></span>
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary metadata-editor__add">{% translate 'Add Field' %}</button>
</div>
