{% extends "account/login_base.html" %}

{% load account i18n %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block login_content %}
    <h1 class="login__title">{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
{% endblock login_content %}
