//
// The primary stylesheet
//

// Init
@import 'init';

// Base
@import 'base/reset';
@import 'base/base';

// Plugins

// Layouts
@import 'layout/layout';

// Module
@import 'modules/plugins/flatpickr';
@import 'modules/plugins/tag-editor';

@import 'modules/features/accessibility-links';
@import 'modules/features/btn';
@import 'modules/features/forms';
@import 'modules/features/tables';
@import 'modules/features/alerts';
@import 'modules/features/filters';
@import 'modules/features/pager';
@import 'modules/features/help';
@import 'modules/features/step-help';
@import 'modules/features/ombuassets';

@import 'modules/global/header';

@import 'modules/pages/login/login';
@import 'modules/pages/login/social-providers';
@import 'modules/pages/dashboard/dashboard';
@import 'modules/pages/help-menu';
@import 'modules/pages/help-page';

@import 'modules/analysis/analysis';
@import 'modules/analysis/analysis-sidebar';
@import 'modules/analysis/analysis-navigation';
@import 'modules/analysis/analysis-table';
@import 'modules/analysis/analysis-fix-missing-data';
@import 'modules/analysis/analysis-subcomponent';

@import 'modules/insights/insights-global';
@import 'modules/insights/efficiency-item';
@import 'modules/insights/comparison';
@import 'modules/insights/strategies';
@import 'modules/insights/cost-breakdown';
@import 'modules/insights/cost-model';
@import 'modules/insights/lessons';
@import 'modules/insights/subcomponent-chart';