{% extends 'panel-form.html' %}

{% block form-start %}
    <form action="#" method="POST" accept-charset="utf-8" class="panel-form panel-form-add-intervention"
          enctype="{% if form.is_multipart %}multipart/form-data{% else %}application/x-www-form-urlencoded{% endif %}"
          novalidate="novalidate"
          {% if not form.allow_abandonment %}data-confirm-abandonment-message="There are unsaved changes on this form. Are you sure you want to leave?"{% endif %}>
{% endblock form-start %}
