.help-page__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 75rem;
}

.help-page__supertitle {
  font-weight: $font-weight-bold;
  @include font-size(18, 1.6);
}

.help-page__title {
  margin-top: 0.7rem;
  margin-bottom: 0;
}

.help-page {
  margin-top: 5rem;
  @include font-size(18, 1.444);
}

.help-page__edit-link-wrapper {
  float: right;
}