.help-menu {
  padding-bottom: 8rem;
}

.help-menu__topics {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 5rem -1.5rem 0;
  padding: 0;
}

.help-menu__topic {
  flex: 0 0 33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 6rem;
}

.help-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.help-menu__item {
  margin-bottom: 1rem;
  padding-left: 0;
  @include font-size(18, 1.6);

  a {
    text-decoration: none;
  }
}

.help-menu__topic-name {
  margin-bottom: 2.1rem;
  margin-top: 0;
  @include font-size(24, 1.2);
}