.cost-breakdown {
  display: flex;
  margin-bottom: 5.0rem;

  @media (max-width: 1400px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media print {
    display: block;
  }
}

.cost-breakdown > * {
  margin: 3em 0;
}

.cost-breakdown__group {
  flex: 1 1 0px;

  //@media (max-width: $breakpoint-desktop - 1px) {
  @media (max-width: 1400px) {
    flex: 0 0 auto;
    width: 100%;
  }  
}

.cost-breakdown__group--program-costs {
  margin-left: 3rem;

  @media (max-width: 1400px) {
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  @media print {
    padding-top: 2.4rem;
  }
}

.cost-breakdown__group--top-cost-categories {
  margin-right: 3rem;

  @media (max-width: 1400px) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  @media print {
    margin-left: 0;
  }
}

.cost-breakdown__group-label {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 1rem;
  @include font-size(16, 1.8125);
}

.cost-breakdown__table {
  border-collapse: separate;
  border-spacing: 1px 0;
  text-align: left;
  width: 100%;
  table-layout: fixed;

  > thead > tr > th {
    background-color: $color-lapis;
    color: $color-white;
    font-weight: $font-weight-bold;
    padding: 1.2rem 1rem;
    @include font-size(14, 1.142857143);
    @media print {
      font-size: 1.3rem;
    }
  }

  > tbody > tr > td {
    padding: 1rem;
    @media print {
      padding: .8rem;
    }
  }

  > tbody > tr {
    &:nth-child(odd) {
      background-color: $color-moonstone;
    }
  }  

  > tfoot {
    @include font-size(14, 2.071428571);

    > tr > td {
      border-top: 1px solid $color-smoke;
      padding: 0.6rem 1rem;
    }
    @media print {
      font-size: 1.3rem;
    }
  }
  @media print {
    font-size: 1.2rem;
  }
}

.cost-breakdown__graph {
  max-width: 100%;
  margin-bottom: 1.3rem;
}

.cost-breakdown__table-right {
  text-align: right;
}

.cost-breakdown__category {
  width: 100%;
}

.cost-breakdown__amount {
  min-width: 11rem;
}

.cost-breakdown__percentage {
  min-width: 11rem;
}

.cost-breakdown__total-amount-label {
  margin-top: 1.5rem;
}

.cost-breakdown__more-details-label {
  margin-top: 50rem;
}
