.insights__subcomponent {
  display: flex;
  flex-direction: column;
}

.subcomponent-chart__progress-bar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #eee;
  border-radius: 6px;
  padding: 0;
  counter-reset: subcomponentProgress;
  margin-top: 1.6rem;
  
  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 1.5rem;
    
    counter-increment: subcomponentProgress;
    flex-shrink: 0;
    flex-basis: 4rem;

    &:after {
      display: flex;
      width: 2rem;
      height: 2rem;
      content: counter(subcomponentProgress);
      background: rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: $color-white;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  li:nth-child(1) {
    background-color: $color-chart-1;
  }
  li:nth-child(2) {
    background-color: $color-chart-2;
  }
  li:nth-child(3) {
    background-color: $color-chart-3;
  }
  li:nth-child(4) {
    background-color: $color-chart-4;
  }
  li:nth-child(5) {
    background-color: $color-chart-5;
  }
  li:nth-child(6) {
    background-color: $color-chart-6;
  }
  li:nth-child(7) {
    background-color: $color-chart-7;
  }
  li:nth-child(8) {
    background-color: $color-chart-8;
  }
  li:nth-child(9) {
    background-color: $color-chart-9;
  }
}

.subcomponent-chart__breakdown-list {
  list-style: none;
  counter-reset: breakdownCount;
  padding: 0;

  li {
    counter-increment: breakdownCount;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 0.8rem;

    &:before {
      display: inline-flex;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5em;
      content: counter(breakdownCount);
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: $color-white;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  li:nth-child(1):before {
    background-color: $color-chart-1;
  }
  li:nth-child(2):before {
    background-color: $color-chart-2;
  }
  li:nth-child(3):before {
    background-color: $color-chart-3;
  }
  li:nth-child(4):before {
    background-color: $color-chart-4;
  }
  li:nth-child(5):before {
    background-color: $color-chart-5;
  }
  li:nth-child(6):before {
    background-color: $color-chart-6;
  }
  li:nth-child(7):before {
    background-color: $color-chart-7;
  }
  li:nth-child(8):before {
    background-color: $color-chart-8;
  }
  li:nth-child(9):before {
    background-color: $color-chart-9;
  }
}